 <!--My portfolio -->
<!-- OPhni R Brice -->
<!-- ID 300902646 -->



<!-- Bottom Nav -->

 <footer>
  <nav class="navbar fixed-bottom ms navbar-dark bg-dark">
    <h6 class="display-8 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
  </nav>
</footer> 