<html>
    <head></head>
    <body>
        <table>        
            <tr><img src="http://localhost:3000/Assets/images/Reggie.jpg" height = "150px"/></tr>            
            </tr>
        </table>
        <tr><div style="padding-top: 20px;"> 
        <div><strong>About me</strong><br></div>        

            <li>My name is Ophni R. Brice, I am a student in the software engineering technology - 
            artificial intelligence program at Centennial College. Currenctly I am working as a field services technician.
            This world has so much to offer in the technology field, and I am passionate about programming and design.
            I am interested in working for a company where I can learn more and develop my technology skills.
            
        
               
            
                                      
            
            <tr>
        </div>
    </body>
</html>