<html>
    <head><link href = "http://localhost:3000/Content/app.css" rel="stylesheet" type="text/css" /></head>
    <body>

        <div class="project-cont">
        <div class="project-image">

            <img src="http://localhost:3000/Assets/images/be.jpg" />

        </div>        
        
        

        
          
        <div style="padding-top: 20px;">
            <h2>Vision</h2>            
            <li>Improve quality of life with technology for all people</li>
            
          
          <div style="padding-top: 20px;">
            <h2>Mission</h2>
            <li>Provide World class in the IT industry</li>
        <div><li>Make life more easy with technology</li></div>              
        
    
    </div>
    </div>

</div>