<!--My portfolio -->
<!-- OPhni R Brice -->
<!-- ID 300902646 -->



<html>
    <head></head>
    <body>
            <h2><tr><img src="http://localhost:3000/Assets/images/C.png" height = "100px"/></tr>  
            <tr><img src="http://localhost:3000/Assets/images/dr.png" height = "100px"/></tr>   
            <tr><img src="http://localhost:3000/Assets/images/fo.png" height = "100px"/></tr>   
            <h2>Projects</h2>
            <table>
                <tr>                    
                    <td>
                        <strong># Programming Language</strong>                        
                        <h2> HTML / CSS: Build multiple website like: BMR, Real Estate.                         
                        <h2> Linux (UNIX) Ubantu: Did a few small project like: Calculator.
                        <h2> SQL: Project for business.
                                  
                    </td>
                </tr>                
            </table>
        </div>
    </body>
</html>