<!--My portfolio -->
<!-- OPhni R Brice -->
<!-- ID 300902646 -->




<html>
<body>
<table>
</table>
<div style="padding-top: 20px;">
<h2>Services</h2>
<ol>
<li>Website Development</li>
<li>Android app Development</li>
<li>SQL Database </li>
<li>Custom Logo</li>
<li>Linux</li>
<li>IT Professional Services</li>
<li>Business Analysis</li>
</ol>
</div>
</body>
</html>